manifest {
  // Read more at https://www.nextflow.io/docs/latest/config.html#config-manifest
  author = 'Moritz E. Beber'
  description = ''
  name = 'join-map-solution-keys'
  nextflowVersion = '!>=22.10.5'
  version = '0.1.0-dev'
}

params {
  // Input options
  input = '../data/results/samplesheet/samplesheet.csv'
  multiqc_config = '../assets/multiqc_config.yaml'

  // Pipeline options
  outdir = 'results'
  tracedir = "${params.outdir}/info"
  publish_dir_mode = 'link'
}

profiles {
  conda {
    // Read more at https://www.nextflow.io/docs/latest/conda.html
    conda.enabled = true
  }
  docker {
    // Read more at https://www.nextflow.io/docs/latest/docker.html
    docker.enabled = true
    docker.runOptions = '--user \$(id -u):\$(id -g)'
  }
}

process {
  cpus = 1
  memory = { 2.GB * task.attempt }
  time   = 4.h

  errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = -1

}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.tsv"
  fields = 'task_id,hash,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,start,complete,realtime,%cpu,%mem,rss,vmem,read_bytes,write_bytes,workdir'
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}
